body {

    
}

#container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

#divRowContainer {
    display:flex;

}

#gridDiv {
    display:flex;
    width: 16px;
    height: 16px;
    border: 1px dotted black;
}

button {
    width: 50px;
    height: 50px;

}