body {

    
}

#container {
    display: inline-flex;
    flex-direction: column;
    border: 2px solid rgb(0,0,0);
}

#divRowContainer {
    display:flex;

}

#gridDiv {
    display:flex;
    width: 16px;
    height: 16px;
    /* border: 1px dotted black; */
}

button {
    width: 75px;
    height: 75px;

}